<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-labels">
      <div class="navber-leftlabels">
        <a routerLink='/' class="navbar-brand" >Главная</a>
        <a routerLink='/' class="navbar-brand" >Добавить Товар</a>
        <a routerLink='/' class="navbar-brand" >Заказы</a>
      
       
      </div>
      <div class="navber-rightlabels">
        
        <a routerLink="/signin" class="navbar-brand" >Выйти</a>
        <a routerLink="/registration" class="navbar-brand" >Личный кабинет</a>
        
      </div>
   </div>
    
  </nav>