.navbar-labels
{
    padding:0 20px 0 20px;
    display:flex;
    justify-content:space-between;
    width:100%;
}

.cart
{
    margin-right:15px;
    font-size:20px;
    color:white;
    cursor: pointer;
}