<div class="container  preparation-cart">
    <div class='row'>
       <div class='col-12 preparation-cart-title mb-2'>Ваш заказ</div>
           <div class="col-5 preparation-cart-item-image">
             <img class="cart-img" src="https://storage.vsemayki.ru/images/0/0/824/824077/previews/people_13_manshortfull_front_white_500.jpg" alt="img"/>
           </div>
           <div class="col-7 preparation-cart-item-info mb-4">
              <div class="cart-item-info-title">Крутая футболка</div>
              <div class="cart-item-info-size">Размер - XXL(56-58)</div>
              <div class="cart-item-info-count">Количество - 1</div>
              <div class="cart-item-info-price">Общая Цена - 999</div>
           </div>
       <div class="col-12 edit-cart d-flex justify-content-end">
            Редактировать заказ
       </div>
       <div class="col-12 total-sum d-flex justify-content-center">
         Итого 999руб.
       </div>
    </div>
 </div>